@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.text-color {
  color: #ff002f;
}
.text-blue {
  color: #05148e;
}

.text-sky {
  color: #191970;
}
.bg-gold {
  background-color: #05148e;
}
.border-blue-bold {
  border-color: #05148e;
}
.bg-skySlate{
  background-color: #27a294;
}
.border-blue {
  border-color: #688abb;
}

.bg-nav {
  background-color: #1e41aa;
}

.bg-bold {
  background-color: #483d8b;
}
.bg-menu {
  background-color: #ff002f;
}
.bg-dynamic {
  background-color: #1c49dc;
}
.background-gradient {
  background: linear-gradient(to right, #09203f, #2d70a2);
  height: auto; /* Full screen height */
  width: 100%; /* Full width */
}
.border-gradient {
  border-color: #024295;
  
}
.background-gradient {
  background: linear-gradient(to right, #09203f, #2d70a2);
  height: auto; /* Full screen height */
  width: 100%; /* Full width */
}

/* Scroll */
/* Customize the scrollbar */
::-webkit-scrollbar {
  height: 2px; /* Height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #05148e; /* Thumb color */
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Thumb color when hovered */
}

/*End Shank image */
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
