@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.text-gold{
  color: 	#FFD700;
}

.text-sky{
  color: 		#191970;
}
.bg-gold{
  background-color: #FFD700;
}

.border-gold{
border-color: #FFD700;
}

.bg-nav{
  background-color: 	#4682B4;
}

.bg-bold{
  background-color: #483D8B;
}
.bg-menu{
  background-color: 	#6495ED;
}


@layer base {
  :root {
    --radius: 0.5rem;
  }
}
